* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.form {
    width: 350px;
    aspect-ratio: 1/2;
    /* background-color: aquamarine; */
}
html,
body,
.container{
    height: 100%;
}
.container {
    display: flex;
}
.left, 
.right {
    width: 50%;
}
.right_figure {
    height: 100%;
    width: 100%;
    line-height: 0;
}
.right_img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.left {
    display: flex;
    justify-content: center;
    align-items: center;
}

h2,p {
    text-align: center;
}
h2{
     margin-bottom: 8px;
}
.button_p_h2{
    margin-bottom: 20px;
}
.button-action {
    padding: 10px 0;
    border-radius: 12px;
    border: 1px solid rgb(181, 181, 181);
    cursor: pointer;
    text-align: center;
    width: 100%;
    margin: 6px 0;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.or {
    margin: 10px 0;
}
.icon_button {
    width: 20px;
}
.icon {
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.dont {
    margin-top: 8px;
}
a {
    text-decoration: none;
    font-weight: 600;
    color: black;
}
.continue {
    background-color: black;
    color: white;
}