/* .text {
    font-size: 24px;
    color: red;
}
.product {
    background-color: aquamarine;
    padding: 10px;
    margin-top: 10px;
    border-radius: 20px;
    width: 200px;
}
h5 {
    font-size: 15px;
    text-align: center;
}
p {
    text-align: center;
} */